body{
    padding: 0;
    margin: 0;
    font-family:"Georgia", serif;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    background-attachment: fixed;
    background-color: transparent;
    justify-content: space-between;
    
    
    
}
nav img{
    width: 60px; 
    height: 60px;
    padding-left: 50px;
}
.nav-links{
    list-style: none;
    text-decoration:none;
    display: flex;
    gap: 50px;
    padding-right: 50px;
}
.nav-links a{
    text-decoration: none;
    color: #79af3d ;
}