body{
    padding: 0;
    margin: 0;
    font-family:"Georgia", serif;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    background-attachment: fixed;
    background-color: transparent;
    justify-content: space-between;   
}
.nav-items{
    display: flex;
}
.nav-icone{
    padding-right: 50px;
    display: flex;
    gap:2px;
    padding-top:15px; ;
}
.nav-icone img{
    width: 24px;
    height: 24px;
}
nav img{
    width: 60px; 
    height: 60px;
    padding-left: 50px;
}
.nav-links{
    list-style: none;
    text-decoration:none;
    display: flex;
    gap: 50px;
}
.nav-links a{
    text-decoration: none;
    color: #79af3d ;
}

.sidebar{
    position: fixed;
    top: 25px; 
    right: 20px; 
    height: auto;
    width: 80px; 
    padding: 20px;
    background-color: transparent;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    list-style: none;
}
.sidebar li{
     width: 100%;
    text-align: left;
}
.sidebar  a{
    color: #79af3d;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.sidebar img {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    cursor: pointer;
}

.menuBtn{
    display: none;
}

@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }
    .menuBtn{
        display: block;
    }
}
@media(max-width:400px){
}