body{
    margin: 0;
    padding-top: 60px;
    font-family:"Georgia", serif;
    background-color: #eeebdf;
}
nav{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0; 
    z-index: 1000;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;  
    background-color: #eeebdf; 
}
.nav-items{
    display: flex;
}
.nav-icone{
    display: flex;
    gap: 12px;
}
.nav-icone img{
    width: 24px;
    height: 24px;
}
nav img{
    width: 60px; 
    height: 60px;
}
.nav-links{
    list-style: none;
    text-decoration:none;
    display: flex;
    gap: 50px;
}
.nav-links a{
    text-decoration: none;
    color: #79af3d ;
}

.sidebar{
    position: fixed;
    top: 25px; 
    right: 20px; 
    height: auto;
    width: 80px; 
    padding: 20px;
    background-color: transparent;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    list-style: none;
}
.sidebar li{
     width: 100%;
    text-align: left;
}
.sidebar  a{
    color: #79af3d;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.sidebar img {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    cursor: pointer;
}

.menuBtn{
    display: none;
}

footer {
  width: 100%;
  height: 260px;
  background-color: #eeebdf;
  display: flex;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footerElement {
  display: flex;
  gap: 100px;
  width: 100%; 
}

.footerElement img {
  padding-top: 20px;
  width: 100px;
  height: 100px;
}

.footerElement h2 {
  color: #79af3d;
  margin-bottom: 10px;
}



.footerElement ul {
  list-style: none;
  padding: 0;
}

.reservation .phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reservation .phone i {
  font-size: 22px;
  color: #79af3d;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.socialMedia .icons {
  display: flex;
  gap: 15px;
  
}

.socialMedia a {
  color: #79af3d;
  font-size: 22px;
  transition: all 0.3s ease;
}

.socialMedia a:hover {
  color: #2b5122;
  transform: scale(1.2);
}

.copyright {
  background-color: #79af3d;
  color: #e8e7e3;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
}

.titlepage{
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
    color: #2b5122;
}
.cards{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 15px;
    row-gap: 25px;
    justify-content: center;
    padding: 60px 60px; 
    width: 100%;
    box-sizing: border-box;
}
.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 47% 47% 0 0 ;
    width: 250px;
    height: 400px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(137, 127, 82);
}
.card img{
    border-radius: 50%;
    border: 10px solid #79af3d;
    width: 200px;
    height: 200px;
    
}
.drinks{
    padding-top: 100px;
    padding: 60px; 
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.drinks h1{
    color: #2b5122;
}
.drink{
    display:flex;
    flex-direction: column;
}
.drinks img{
    width: 550px;
    height: 550px;
    box-shadow: 5px 5px 10px rgba(137, 127, 82);
}
.drinkinfo{
    display: flex;
   justify-content: space-between;
}
hr {
  border-top: 1px solid #897f52; /* Épaisseur, style et couleur de la ligne */
  border-bottom: none;      /* Supprime la bordure du bas par défaut */
  width: 600px;               /* Ajuste la largeur de la ligne */
  margin: 5px auto;        /* Centre la ligne */
}
@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }
    .menuBtn{
        display: block;
    }
}
