body{
    padding: 0;
    margin: 0;
    font-family:"Georgia", serif;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    background-attachment: fixed;
    background-color: transparent;
    justify-content: space-between;   
}
.nav-items{
    display: flex;
}
.nav-icone{
    padding-right: 50px;
    display: flex;
    gap:2px;
    padding-top:15px; ;
}
.nav-icone img{
    width: 24px;
    height: 24px;
}
nav img{
    width: 60px; 
    height: 60px;
    padding-left: 50px;
}
.nav-links{
    list-style: none;
    text-decoration:none;
    display: flex;
    gap: 50px;
}
.nav-links a{
    text-decoration: none;
    color: #79af3d ;
}

.sidebar{
    position: fixed;
    top: 25px; 
    right: 20px; 
    height: auto;
    width: 80px; 
    padding: 20px;
    background-color: transparent;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    list-style: none;
}
.sidebar li{
     width: 100%;
    text-align: left;
}
.sidebar  a{
    color: #79af3d;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.sidebar img {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    cursor: pointer;
}

.menuBtn{
    display: none;
}

footer {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

.footerElement {
  display: flex;
  gap: 100px;
  width: 100%;
  padding-left: 30px;
  
  
}

.footerElement img {
  padding-top: 20px;
  width: 100px;
  height: 100px;
}

.footerElement h2 {
  color: #79af3d;
  margin-bottom: 10px;
}



.footerElement ul {
  list-style: none;
  padding: 0;
}

.reservation .phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reservation .phone i {
  font-size: 22px;
  color: #79af3d;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.socialMedia .icons {
  display: flex;
  gap: 15px;
  
}

.socialMedia a {
  color: #79af3d;
  font-size: 22px;
  transition: all 0.3s ease;
}

.socialMedia a:hover {
  color: #2b5122;
  transform: scale(1.2);
}

.copyright {
  background-color: #79af3d;
  color: #e8e7e3;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
}


@media(max-width:800px){
    .hideOnMobile{
        display:none;
    }
    .menuBtn{
        display: block;
    }
}
